@{
    
}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        position: relative;
      }
      
      .demo {
        border: 1px solid lavender;  
      }
      
      .affix {
        top: 0;
        width: 100%;
      }  
    </style>
  </head>
  <body>
    <div class="container" style="border: 1px solid black; border-radius: 12px; min-height: 500px;">
      <div class="row" style="height: 100px">
      </div>
      <div class="row" style="border: 1px solid green; border-radius: 12px;">
        <div class="col-sm-11" style="border: 1px solid red; border-radius: 12px; min-height: 100px;" >
          <div class="btn-group" data-spy="affix" data-offset="100">
            <button class="btn btn-primary" type="button">Home</button>
            <button class="btn btn-primary" type="button">Home</button>
            <button class="btn btn-primary" type="button">Home</button>
            <button class="btn btn-primary" type="button">Home</button>
          </div>
        </div>
      </div>
      @for(var i = 0; i < 30; i++)
      {
        <p>@i</p>
      }
    </div>        
  </body>
</html>
