@{
    
}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Salimah Fashion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/css/_site.css"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/js/_script.js"></script>
  </head>
  <body>
    <div class="container" style="border: 1px solid blue;">
      <div id="header-main">
        <img src="/images/logo-main.png" alt="logo"/>
      </div>
      @RenderBody()
    </div>
  </body>
</html>
